<div class="container-fluid" id="contact">
    <div class="row">
    <div class="col-sm-4 col-md-4">
        <p>Thank you. We have received your message and will respond as soon as possible.</p>
    </div>
</div>
    <%= link_to 'Back', contact_path %>
</div>