<div class="container-fluid" id="contact" style="background-color:white; color:grey; padding-top:2%;padding-right:0; margin-right:62%;">
    
    
        <p>Thank you. <br> We have received your message and will respond as soon as possible.</p>
        
</div>

</div>