<table>
    <tbody>
        <TR>
            <td><p>You have received a new contact form message. The contents of the message are:</p></td>
        </TR>
        <tr><p><%= @message %></p>
        </tr>
    </tbody>
</table>