<table>
 <tbody>
     <tr>
         <td><h2>Welcome <%=user.first_name %>!</h2></td>
     </tr><br>
     <tr><td><p>Thank you for signing up with <%= @appname %></p></td>
     </tr>
     <tr><td><p>We wish you a fruity and healthy shopping by us ;) </p></td>
     </tr>
     <tr> <td><p><strong>Your <%= @appname %> Team!</strong></p></td>
     </tr><br><br>
     <tr><td><p><small>This is an automated message. Please do not reply to this mail</small></p></td>
     </tr>
    
</tbody>
</table> 