<% if params[:controller] == "home" %>
     <div class= "header-content-inner">
                    <a href="#"><h1 class="sayfreshobst">Say FreshObst!</h1></a>
                    <hr>
                    <p style="text-transform:none;">Your freshest Fruit and Vegetables near you, just a click away</p>
         <button class="btn btn-primary btn-xl page-scroll"><%= link_to "Shop for vegetables now", store_path%></button>
        </div>

<% end%>