<% if params[:controller] == "home" %>
    <div class="jumbotron" style="background-color:rgba(255,255,255,0.7);">
		    <div class= "header-content-inner">
                <%=link_to products_path do %>
                     <%= image_tag('freshobst.png', :class => 'img-responsive')%> 
                <% end %>
		                    
		                   

		          
		    </div>
	</div>        
<% end%>