<div class="headerjumbotron" id="login2" >
<h1>What is FreshObst?</h1>
    <br>
<p>FreshObst is a demo-eshop providing you the freshest code attempts transformed into carrots, tomatoes, garlic, potatoes, all seasoned with a tasty junior-rookie-sauce.<br> If you enjoyed playing around with it, you can try contact me using the <%= link_to 'contact form', contact_path, :class => 'a_about' %>.<br><br>
    Yours,<br>
Anna "Ad Sidera"
</p>
