<div class="jumbotron" id="login">
<h1>What is FreshObst?</h1>
<p>FreshObst is a demo-eshop providing you the freshest code attempts transformed into carrots, tomatoes, garlic, potatoes, all seasoned with a tasty junior-rookie-sauce. If you enjoyed playing around with it, you can try contact me using the <%= link_to 'contact form', contact_path %>.<br>
    Yours,<br>
Anna "Ad Sidera"
</p>
